* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	margin: 0;
	background: rgb(136,96,208);
	background: linear-gradient(90deg, rgba(136,96,208,1) 17%, rgba(86,128,233,1) 64%, rgba(132,206,235,1) 100%, rgba(90,185,234,1) 100%, rgba(193,200,228,1) 100%);
}

@media only screen and (max-width:620px) {
	/* For mobile phones: */
	.header, .content-side-row, .content-row {
	  width:100%;
	}
  }

img { max-width: 100%; height: auto; }

h2 {
	text-align: center;
	font-size: 28px;
	color: black;
	padding: 10px;
	margin: 0px;
	width: 100%;
}

h3 {
	font-size: 28px;
	color: black;
}

.header {
	padding: 10px;
	margin: 20px;
	text-align: center;
	color: white;
	font-size: 30px;
}

.navigation {
	overflow: hidden;
	display: block;
	height: 55px;
	width: 100%;
	position: sticky;
	top: 0px;
	font-size: 23px;
	background: rgb(136,96,208);
	background: linear-gradient(90deg, rgba(136,96,208,1) 17%, rgba(86,128,233,1) 64%, rgba(132,206,235,1) 100%, rgba(90,185,234,1) 100%, rgba(193,200,228,1) 100%);
}

.navigation a {
	color: white;
	margin: 10px;
	text-decoration: none;
	text-align: center;
	padding: 5px;
}

.navigation a:hover {
	color: black;
}

.float-left {
	float: left;
}

.content-main-row {
	display: flex;
	flex-wrap: wrap;
}

.content-row {
	flex: 60%;
	background-color: white;
	padding: 25px;
	margin: 20px;
}

.content-side-row {
	flex: 25%;
	background-color: white;
	padding: 20px;
	color: black;
	margin: 20px;
	height: 600px;
}

.news-section {
	background-color: black;
	color: white
}

.content-news-married {
	margin-top: 20px;
	margin-bottom: 40px;
	color: black;
	padding: 10px;
}

.news-marriage-picture {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
}

.content-news-corona {
	color: black;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
}