* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	margin: 0;
	background-color: black;
}

@media screen and (max-width: 700px) {
	body {
		flex-direction: column;
	}
}

h3 {
	color: white;
	font-size: 20px;
}

h4 {
	color: yellow;
	padding: 10px;
}

footer {
	padding: 15px;
	text-align: center;
	background-color: #333;
	margin: 20px;
}

footer a {
	text-decoration: none;
	color: white;
	padding: 6px;
	margin: 10px;
}

footer a:hover {
	color: yellow;
}

.header {
	padding: 10px;
	margin: 20px;
	text-align: center;
	background-color: #333;
	color: white;
	font-size: 30px;
}

.navigation {
	background-color: black;
	height: 55px;
	position: sticky;
	top: 0px;
	padding: 10px;
	font-size: 23px;
}

.navigation .active {
	color: yellow;
}

.navigation a {
	color: white;
	margin: 3px;
	text-decoration: none;
	text-align: center;
	background-color: black;
	padding: 7px;
}

.navigation a:hover {
	color: yellow;
}

.feedback-form {
	padding: 10px;
}

.flexbox-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-self: stretch;
	height: 400px;
	justify-content: space-around;
	border: 1px solid black;

}

.flexbox-text {
	font-size: 16px;
	color: white;
	padding: 10px;
}

.flexbox-item {
	width: 225px;
	margin: 19px;
	padding: 10px;
	background: #111;
}

.flexbox-item-one {
	min-height: 150px;
	min-width: 125px;
	max-width: 300px;
	flex-grow: 2;
}

.flexbox-item-two {
	min-height: 150px;
	min-width: 125px;
	max-width: 300px;
	flex-grow: 2;
}

.flexbox-item-three {
	min-height: 150px;
	min-width: 125px;
	max-width: 300px;
	flex-grow: 2;
}