* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	margin: 0;
	background: rgb(136,96,208);
	background: linear-gradient(90deg, rgba(136,96,208,1) 17%, rgba(86,128,233,1) 64%, rgba(132,206,235,1) 100%, rgba(90,185,234,1) 100%, rgba(193,200,228,1) 100%);
}

@media screen and (max-width: 700px) {
	.content-main-row, .navigation {
		flex-direction: column;
	}
}

@media screen and (max-width: 600px) {
	.navigation .navigation a{
		float: none;
		width: 100%;
	}
}

h3 {
	font-size: 28px;
	color: black;
}

h4 {
	color: black;
	padding: 10px;
}

.header {
	padding: 10px;
	margin: 20px;
	text-align: center;
	color: white;
	font-size: 30px;
}


.float-left {
	float: left;
}

.float-right {
	float: right;
}

.contact-nav {
	border-radius: 8px;
	background-color: black;
	font-weight: bold;
	/*Make hover bigger with padding*/
}

.navigation {
	overflow: hidden;
	display: block;
	height: 55px;
	width: 100%;
	position: sticky;
	top: 0px;
	font-size: 23px;
	background: rgb(136,96,208);
	background: linear-gradient(90deg, rgba(136,96,208,1) 17%, rgba(86,128,233,1) 64%, rgba(132,206,235,1) 100%, rgba(90,185,234,1) 100%, rgba(193,200,228,1) 100%);
}

.navigation a {
	color: white;
	margin: 10px;
	text-decoration: none;
	text-align: center;
	padding: 5px;
}

.navigation a:hover {
	color: black;
}

.feedback-form {
	padding: 10px;
}

.flexbox-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-self: stretch;
	height: 400px;
	justify-content: space-around;
}

.flexbox-text {
	font-size: 16px;
	padding: 10px;
}

.flexbox-item {
	width: 225px;
	margin: 19px;
	padding: 10px;
	background-color: white;
}

.flexbox-item-one {
	min-height: 150px;
	min-width: 125px;
	max-width: 300px;
	flex-grow: 2;
}

.flexbox-item-two {
	min-height: 150px;
	min-width: 125px;
	max-width: 300px;
	flex-grow: 2;
}

.flexbox-item-three {
	min-height: 150px;
	min-width: 125px;
	max-width: 300px;
	flex-grow: 2;
}